---
title: Uninstalling Mako
description: Uninstall Mako is done in a few simple steps.
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./uninstall-mac"
#linux-content
  = find_and_preserve partial "./uninstall-linux"
#win-content
  = find_and_preserve partial "./uninstall-win"
