---
title: (DRAFT) Install Mako
seo_title: Mako Installation Instructions & System Requirements
description: Mako provides installers and downloadable binaries to make installation as simple as possible.
keywords: system requirements, installation, mako requirements, windows, linux, mac, macos, simple development environment, isolated dev environment, virtual dev environment, development platform
---

= partial "os-tabs"

#mac-content
  = find_and_preserve partial "./install-mac"
#linux-content
  = find_and_preserve partial "./install-linux"
#win-content
  = find_and_preserve partial "./install-win"
